.git/
.github/
node_modules/
dist/
coverage/
infra/

src/__tests__/
jest.config.ts
.pre-commit-config.yaml
.depcheckrc
.gitignore
.dockerignore
Dockerfile*
README.md
LICENSE

.env*
*.log
*.tsbuildinfo

.vscode/
.idea/
.DS_Store
Thumbs.db
