SENDER_MAIL=
HR_MAIL=
# AWS
SQS_URL=
AWS_REGION=
DYNAMO_ENDPOINT=
# AZURE
AZURE_APP_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
# SHAREPOINT
SHAREPOINT_HOST=
SHAREPOINT_SITE_WEB_ID=
CHECK_SITE_WEB_ID=
MAIN_FOLDER_NAME=
DATA_FOLDER_NAME=
REQUEST_NAME=
REPORT_FOLDER_NAME=
REPORT_BACKUP_FOLDER_NAME=
